@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Welcome to my Swamp";
    ViewBag.Subtitle = "I found a fun little Shrek favicon and so I decided to make this slightly Shrek-themed. :)";
    ViewBag.Name = "Sam(uel) Hansen";
}

<!DOCTYPE html>
<html>
<body>

    <p>BELOW: Enjoying snow pizza. (@@ Bryce Canyon Nat'l Park) I'm the guy on the right.</p>
    <img src="img/snowpizza.JPG" width="600" />
    <br />
    <h3>Well, welcome to my 'lil site.</h3>

    <p>
        What I would like to get out of this IS 413 course. Well, I hope to become well versed in C#. It's true that the more programming languages you use,
        the more similar they all become, but it'd be great to feel comfortable in C#. I am also excited to learn to make ASP.NET Core Web Apps. It sounds
        totally foreign and intimidating for the moment, but I'm excited to get to the point where I feel comfortable doing it. Maybe I won't be a master,
        but I'll be comfortable. I enjoy doing all things web design (with a particular interest in the back end), so I am excited for that.
    </p>
    <br />
    <h3>TOP 3 JOBS I WANT TO PURSUE AFTER GRADUATION</h3>
    <ol>
        <li>Data Analyst/Data Scientist</li>
        <li>Project Manager</li>
        <li>Web Developer</li>
        <li>BONUS: CEO of SpaceX</li>
    </ol>
 
</body>
</html>
